.footer-container {
position: absolute;
background-color: #2D1F30;
bottom: 0;
}

.olasrosas {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text {
    color: white;
    margin-left: 50px;
    width: 75%;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 15px;
}