.navbar-container img.image{
    width: 50px;
    height: 50px;
}

div.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    align-items: center;
}

p{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-icon{
    color: #fff;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

button.btn.btn-secondary{
    background-color: #2D1F30;
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}

svg{
    width: 50px;
    height: 50px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
}