body{
    background: linear-gradient(180deg, #FDB3CA 0%, #5C6898 100%);
}

.arrow-icon{
    color: #ffff;
    width: 50rem;
    height: 1.5rem;
    display: flex;
    margin-top: 4rem;
    padding-right: 17rem;

}
form.form{
    margin-top: 2rem;
}

svg.arrow-icon{
    margin-top: 4rem;
}

.login-container img.image{
    width: 10rem;
    height: 10rem;
}
