* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-repeat: no-repeat;
  max-width: 390px;
  max-height: 844px;
  background-size: 390px 844px;

}

body {
  background-color: #2D1F30;
}

